/*@font-face { font-family: Atkinson Hiperlegible;
src:url(/web-fonts/TTF/Atkinson-Hyperlegible-Regular-102.ttf);
};*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark-mode{
    --background-color-header: #0F213F;
    --color:#FFFFFF;
    --background-color-body: #042f50;
    --background-color-aside: #224763;
    --background-color-hover: #1F4F72;
    --background-color-hover-color2: #2C5779;
    --background-color-hover-colorX: #0f213f;
    --border:1px solid #FFFFFF;
}

body.light-mode{
    --background-color-header: #FFFFFF;
    --color:#224763;
    --background-color-body: #F2F2F2;
    --background-color-aside: #EAEFF5;
    --background-color-hover: #E1EEFB;
    --background-color-hover-color2: #cee4f5;
    --background-color-hover-colorX: #FFFFFF;
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--background-color-body);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width:100%;
    height: 100px;
    background-color:var(--background-color-header);
    color:var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:5px;
}

.i-nav{
    margin-right: 5px;
}
/* ----ASIDE TEXTO STYLE  */
.aside-text{
    width:300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background-color: var(--background-color-aside);
    color:var(--color);
    position:fixed;
    top:0px;
    right: 0px;
    
}
.title-aside{
    margin-bottom: 20px;
    text-align: center;
}
.form-text{
    display: flex;
    flex-direction: column;  
}

.format-button-justify{
    margin-left: 7px;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border:none;
    background-color: white;
}

.container-color-picker-text{
    background-color:white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0F213F;
    font-size: 0.9em;
    height: 30px;
    border-radius: 2px;
    border:none;
    padding: 0px 7px;
    margin-top: 10px;
    flex-grow: 1;
}

.container-color-fondo{
    display: flex;
    width:100%;
}

/* ----ASIDE IMAGE STYLE  */
.aside-img{
    width:300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background-color: var(--background-color-aside);
    color:var(--color);
    position:fixed;
    top:0px;
    right: 0px;
    
}
.hidden{
    display:none;
}
.slidecontainer{
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.container-background{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 7px;
}
.size_input-select{
    width:45%;
    height: 30px;
    border-radius: 2px;
    border:none;
    color:#0F213F;
}
.url-input{
    width:100%;
    height: 30px;
    margin-top: 7px;
    margin-bottom: 20px;
    border-radius: 2px;
    border:none;
}
.slider{
    margin:6px 0;
}
.reset{
    width:60%;
    height: 30px;
    margin:25px 0;
    border:none;
    border-radius: 2px;
    color:#0F213F;
    background-color: white;
}
/*----- CARD DEL MEME----*/
.meme-generator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 37rem;
    height:37rem;
    margin:50px 0px;
    position: relative;
}
.image-box-style{
    width: 600px;
    height: 370px;
    background-color: black;
}
.container-color{
    background-color:white;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
#img {
    width:100%;
    height: 100%;
    background-color: black;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    display: flex;
    flex-grow: 1;
}
.style-text{
    width: 100%;
    font-size: 3em;
    padding:40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;

}

/*-------CLASES GENERALES --------*/
.margin-top-bottom{
    margin: 7px 0px;
}
.column{
    display: flex;
    flex-direction: column;
}

.margin-left{
    margin-left: 7px;
}

.row{

    display: flex;
    flex-direction: row;
}
.size_input-select_text{
    width:45%;
}
.style-input{
    height: 30px;
    border-radius: 2px;
    border:none;

}

.padding-7{
    padding-left: 7px;
}
.flex{
    display: flex;
}
.grow-1{
    flex-grow: 1;
}
.grow-3{
    flex-grow: 3;
}
.margin-sides{
    margin: 0px 7px;
}
.overflow{
    overflow: hidden;
}

.color-picker {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid transparent;
}
.colorpicker-text-style{
    font-size: 0.9em;
    margin-left: 7px;
    color:#0F213F;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.style-button-nav{
    height: 25px;
    border:none;
    border-radius: 2px;
    background-color: transparent;
    color:var(--color);
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    padding:5px;
    transition-duration: 0.3s;
}

.style-button-nav:hover{
    background-color:var(--background-color-hover);
    transition-duration: 0.3s;
}

.style-nav{
    display: flex;
    flex-direction:row;
}

.slide-input{
    height: 5px;
    margin-top: 10px;
}

.hover:hover{
    background-color:var(--background-color-hover-color2);
    color:var(--color);
    transition-duration: 0.3s;
}
.style-button-outline{
    border:none;
    height:30px;
    border-radius: 2px;
    background-color:white;
}

.button-close{
    display:none;
    color:var(--color);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999999999;
    font-size: 1.8em;
    padding: 8px 11px;
    background-color: transparent;
    border:none;
}
.button-close:hover{
    background-color: var(--background-color-hover-colorX);
}



@media screen and (max-width:1300px){
    aside{
        display:none;
    }

    .button-close{
        display:inline;
    }

    .aside-img{
        position:absolute;
    }

    .aside-text{
        position:absolute;
    }
}

@media screen and (max-width:700px){
    .aside-img{
        width: 100%;
    }
    .aside-text{
        width: 100%;
    }

    .container-color{
        justify-content: flex-start;
        padding-left: 5px;
        margin-right: 10px;
    }
    .size_input-select{
        flex-grow:1;
    }
}